.body {
    background-color:#fff;
}
.wrapper {

    padding:50px 0;
}
.wrapper h5{

    margin: 20px 0;
}
form {

    font-size: 12px;
}
.table_row {

    font-size: 12px;
}
form input,select {

    margin:5px 0;
    padding: 3px;
}
form .btn-primary {

    width: 120px;
    background-color:#3794ff;
    color:#fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin: 20px 0;

}